*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: hsl(219, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.container{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-container{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.qr{
    height: 250px;
    background-color: #fff;
}

img{
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
}

.text{
    width: 250px;
    text-align: center;
    background-color: #fff;
    padding: 0 15px;
}

.text-title{
    margin-top: 25px;
    font-size: 17px;
    font-weight: 700;
    background-color: #fff;

}

.text-text{
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    color: grey;
    background-color: #fff;
}